a:link { /* unvisited link */
    font-style: italic;
    color: black;
}

a:visited { /* visited link */
    font-style: italic;
    color: black;
}

a:hover { /* mouse over link */
    color: black;
}

a:active { /* selected link */
    color: black;
}

.icon-parent {
    text-align: center;
}

.section {
    background-size: cover;
}

#home {
    background-color: white;
    text-align: center;
}

.fa {
    color: black;
}

.fa:hover {
    color: black
}

div {
    color: black;
}

#snack-small {
    font-size: smaller;
}

#snack-med-and-up {
    font-size: medium;
}
