a:link {color: black;}      /* unvisited link */
a:visited {color: black;}   /* visited link */
a:hover {color: black;}     /* mouse over link */
a:active {color: black;}    /* selected link */

#icon-parent {
    text-align:center;
}

.section {
    background-size: cover;
}

#home {
    background-color: black;
}

#about {
    background-color: black;
}

#introduction {
    text-align: center;
}

.fa {
    color: white;
}

div {
    color: white;
}
